# OS
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.idea
/.vscode
/.vagrant

# Tools
/.php_cs.cache
/.phpunit.result.cache
Homestead.json
Homestead.yaml

# Environment
.env*
!.env.example
!.env.testing

# Composer
/vendor

# Node (use npm instead of yarn)
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock


# Laravel Framework
