$shadows: (
  order: 0 2px 14px 5px rgba($black, 0.06),
  cover: 8px 8px 14px 0 rgba($black, 0.05)#{','} -8px -8px 14px 0 rgba($black,0.05),
  table: 0 -1px 8px 0 rgba($black, 0.1)#{','} 0 1px 8px 0 rgba($black,0.10),
);
