th {
  @extend .background-silver-4,
  .body-medium,
  .font-gibson-med;
}

td {
  @extend .background-ghost-white,
  .body-small;
}

.table__cell {
  @extend .flex,
  .align-items-center,
  .relative;
  padding: 18px 20px;
}

tr th:first-child .table__cell,
tr td:first-child .table__cell {
  @extend .padding-left-40;
}

tr th:last-child .table__cell,
tr td:last-child .table__cell {
  @extend .padding-right-40;
}

.table__cell .status {
  @extend .absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}