.separator {
  @extend .flex,
  .background-cloud-burst;
  height: 1px;
}

.separator--small {
  @extend .margin-left-10,
  .margin-right-10;
  width: 10px;
}

.separator--large {
  @extend .margin-left-20,
  .margin-right-20;
  width: 20px;
}