$borderStyles : (
  solid: solid,
  dashed: dashed,
  dotted: dotted,
  none: none,
  hidden: hidden,
  double: double,
  groove: groove,
  ridge: ridge,
  inset: inset,
  outset: outset,
  initial: initial,
  inherit: inherit
);

$borderPositions : (
  top: top,
  bottom: bottom,
  right: right,
  left: left,
  all: all
);