.site-header {
  @extend .background-carnation,
  .flex,
  .align-items-center,
  .relative;
  height: 80px;
}

.branding {
  @extend .flex,
  .align-items-center;
}

.branding .icon--logo svg {
  max-width: 159px;
  width: 100%;
}

.branding .icon--logo-mobile svg {
  max-width: 21px;
  width: 100%;
}
