.grid-overlay {
  @extend .fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.grid-overlay .content {
  height: 100vh;
}

.grid__item {
  @extend .background-silver-4;
}

.grid__item:nth-child(n+7){
  @include mq(sm) {
    @include _(hidden);
  }
}