.menu__categories {
  @extend .width-full,
  .flex,
  .align-items-stretch,
  .sticky,
  .background-off-white,
  .border-silver,
  .border-width-1,
  .border-top-solid,
  .border-bottom-solid;
  height: 60px;
  top: 0;
}

.menu__cat-list {
  @extend .flex,
  .align-items-stretch;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: auto;
}

.menu__cat-list::-webkit-scrollbar,
.menu__cat-list::-webkit-scrollbar {
  @extend .hidden;
  width: 0 !important;
}

.menu__cat-item {
  @extend .flex,
  .margin-right-80,
  .shrink-0;

  @include mq(l) {
    @include _(l-margin-right-50);
  }
  @include mq(m) {
    @include _(m-margin-right-40);
  }
  @include mq(sm) {
    @include _(sm-margin-right-20);
  }
}

.menu__cat-item:last-child {
  @extend .margin-right-0;
}

.menu__cat-link {
  @extend .color-cloud-burst,
  .body-small,
  .flex,
  .align-items-center,
  .relative;
}

.menu__cat-link:before {
  @extend .background-cloud-burst,
  .flex,
  .absolute;
  content: '';
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  transition: height 0.3s ease-in-out;
}

.menu__cat-link--active:before {
  height: 2px;
}