/* BG COLOUR MIXINS ============================================================================= */

@mixin bgColor() {
  @each $name, $color in $colors {
    .background-#{$name} {
      background-color: $color;
    }
  }
}

@mixin bgRgba($color, $rgba) {
    @if ($rgba == 0) {
    .background-#{$color}-0 {
      background-color: rgba(map_get($colors, $color), 0);
    }
    @include placeholder(background-#{$color}-0) {
      background-color: rgba(map_get($colors, $color), 0);
    }
  } @else if ($rgba > 0 and $rgba < 1) {
    $rgba: $rgba * 10;
    .background-#{$color}-#{$rgba} {
      $rgba: $rgba / 10;
      background-color: rgba(map_get($colors, $color), $rgba);
      $rgba: $rgba * 10;
    }
    @include placeholder(background-#{$color}-#{$rgba}) {
      $alpha: $rgba / 10;
      background-color: rgba(map_get($colors, $color), $alpha);
    }
  }
}