.hero__image {
  @extend .inline-flex,
  .align-items-center;
}

.hero__image .icon,
.hero__image .icon--logo-mark svg {
  @extend .width-full;
}

.hero__image--border {
  @extend .border-width-1,
  .border-silver-5,
  .border-solid,
  .radius-5,
  .relative;
  overflow: hidden;
}

.hero__image--square {
  padding-bottom: 100%;
}

.hero__image--square img {
  @extend .absolute,
  .width-full;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}