::-webkit-input-placeholder {
  color: $cloud-burst;
}

::-moz-placeholder { /* Firefox 18- */
  color: $cloud-burst;
}

:-moz-placeholder { /* Firefox 18- */
  color: $cloud-burst;
}


:-ms-input-placeholder {
  color: $cloud-burst;
}