.site-menu {
  @include mq(sm) {
    @include _(absolute);
    @include _(background-carnation);
    @include _(flex-col);
    @include _(padding-40);
    top: 100%;
    right: -400px;
    max-width: 400px;
    width: 100%;
    height: 100vh;
    transition: right 0.3s ease-in-out;
  }
}

.site-nav__burger {
  @extend .border-ecru-white,
  .border-width-1,
  .border-solid,
  .padding-left-20,
  .padding-right-20,
  .radius-5,
  .align-items-center,
  .relative;
  height: 40px;
  z-index: 1;
}

.site-nav__burger:before {
  content: 'Menu';
  @extend .flex,
  .margin-right-10,
  .color-ecru-white;
}

.site-nav__burger-wrapper {
  @extend .flex,
  .justify-content-center,
  .flex-col;
  width: 20px;
  height: 11px;
}

.site-nav__burger-wrapper span {
  @extend .flex,
  .background-ecru-white;
  width: 100%;
  height: 1px;
}

.site-nav__burger-wrapper span:before,
.site-nav__burger-wrapper span:after {
  content: '';
  @extend .flex,
  .background-ecru-white;
  width: 100%;
  height: 1px;
  transition: transform 0.3s ease-in-out;
}

.site-nav__burger-wrapper span:before {
  transform: translateY(4px);
}

.site-nav__burger-wrapper span:after {
  transform: translateY(-4px);
}

#menu-trigger:checked ~ .site-nav__burger:before {
  content: 'Close';
}

#menu-trigger:checked ~ .site-nav__burger .site-nav__burger-wrapper span:before,
#menu-trigger:checked ~ .site-nav__burger .site-nav__burger-wrapper span:after {
  transform: translateY(0);
}

#menu-trigger:checked ~ .site-menu {
  right: 0;
  transition: right 0.3s ease-in-out;
}