.site-footer__menu {
  @extend .flex,
  .align-items-center;

  @include mq(m) {
    @include _(m-margin-top-20);
  }
}

.site-footer__navigation {
  @extend .inline-flex;

  @include mq(m) {
    @include _(justify-content-center);
  }
}

.site-footer__item {
  @extend .margin-right-30;
}

.site-footer__item:last-child {
  @extend .margin-right-0;
}

.site-footer__link {
  @extend .body-large,
  .color-ecru-white;

  @include mq(m) {
    @include _(body-medium);
  }
}
