.cart__buttons {
  @extend .margin-top-20;
}

.cart--empty .cart__buttons {
  @extend .margin-top-0;
}

.cart__buttons .button {
  @extend .width-full;
}

.button.menu__view {
  @extend .radius-0,
  .width-full;
  left: 0;
  bottom: 0;
}

.button.menu__view.menu__view--active {
  @extend .fixed;
}

.button.menu__view .button__icon {
  @extend .flex;
}

.button.menu__view svg {
  max-width: 14px;
  width: 100%;
}

.menu__view .separator {
  @extend .background-ecru-white;
}
