$colors: (
  carnation: #F25851,
  casablanca: #F5B24D,
  ecru-white: #F2EDDC,
  cloud-burst: #243752,
  silver: #C7C7C7,
  off-white: #F9F9F9,
  white: #FFFFFF,
  black: #000000,
  success: #22C371
);

$carnation: #F25851;
$casablanca: #F5B24D;
$ecru-white: #F2EDDC;
$cloud-burst: #243752;
$silver: #C7C7C7;
$off-white: #F9F9F9;
$white: #FFFFFF;
$black: #000000;
$success: #22C371;
