.tab-nav {
  @extend .margin-bottom-80;

  @include mq(m) {
   @include _(m-margin-bottom-60);
  }
  @include mq(sm) {
    @include _(sm-margin-bottom-40);
  }
}

.tab-menu {
  @extend .width-full,
  .flex,
  .align-items-center,
  .border-silver,
  .border-bottom-solid,
  .border-width-1;

  @include mq(sm) {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: auto;
  }
}

.tab-menu::-webkit-scrollbar,
.tab-menu::-webkit-scrollbar {
  @extend .hidden;
  width: 0 !important;
}

.tab-menu__item {
  @extend .body-xlarge,
  .font-gibson-book,
  .color-cloud-burst-3,
  .padding-bottom-20,
  .relative,
  .shrink-0;

  @include mq(sm) {
    @include _(margin-right-20);
  }
}

.tab-nav--dashboard .tab-menu__item {
  @extend .margin-right-80;
}

.tab-nav--dashboard .tab-menu__item:last-child {
  @extend .margin-right-0;
}

.tab-menu__item:before {
  @extend .background-carnation,
  .absolute;
  content: '';
  width: 0;
  height: 3px;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease-in-out;
}

.tab-menu__item.tab-menu__item--active {
  @extend .color-carnation;
}

.tab-menu__item.tab-menu__item--active:before {
  width: 100%;
}

.tab-menu__link {
  @extend .cursor-pointer;
  color: inherit;
}