@import 'mixins';

.button {
  @extend
  .inline-flex,
  .justify-content-center,
  .align-items-center,
  .padding-left-30,
  .padding-right-30,
  .radius-5,
  .border-width-1,
  .border-solid;
  height: 50px;
  width: auto;
  cursor: pointer;
}

.button.button--small {
  @extend .padding-left-20,
  .padding-right-20;
  height: 28px;
}

.button--large {
  height: 100px;
}

.button__content {
  @extend .flex,
  .font-gibson-med,
  .body-medium;
}

.button--small .button__content {
  @extend .body-small;
}

.button__icon--right {
 @extend .margin-left-10;
}

.button__icon--left {
  @extend .margin-right-10;
}

.button--large .button__icon--left {
  @extend .margin-right-20;
}

.button--hover-casablanca:hover,
.button--focus-casablanca:focus {
  @extend .background-casablanca;
}

@include buttons(outline, transparent, ecru-white, ecru-white);
@include buttons(solid, ecru-white, ecru-white, carnation);
@include buttons(outline, transparent, carnation, carnation);
@include buttons(solid, carnation, carnation, ecru-white);
@include buttons(outline, transparent, silver, silver);
@include buttons(solid, silver, silver, white);
@include buttons(solid, cloud-burst, cloud-burst, ecru-white);
