.order__arrow {
  @extend .border-silver,
  .border-bottom-solid,
  .border-width-1,
  .background-white,
  .flex,
  .justify-content-center,
  .align-items-center;

  height: 30px;
  width: 30px;
  border-radius: 50%;

  &.order__arrow--active {
    @extend .background-cloud-burst;
  }

  &.order__arrow--active svg {
    fill: white;
  }
}

