.checkbox {
  @extend .flex,
  .align-items-center;
}

.checkbox__icon {
  @extend .flex,
  .align-items-center,
  .justify-content-center;
}

.checkbox--standard .checkbox__icon {
  @extend .border-solid,
  .border-cloud-burst,
  .border-width-1,
  .radius-5;
}

.checkbox--standard .checkbox__icon polyline {
  stroke-dashoffset: 40;
  stroke-dasharray: 40;
}

.checkbox--standard .checkbox__icon--small {
  @extend .margin-right-10;
  width: 20px;
  height: 20px;
}

.checkbox--standard .checkbox__icon--small svg {
  width: 11px;
  height: 7px;
}

.checkbox-input:checked ~ .checkbox--standard .checkbox__icon--small polyline {
  animation-name: dash;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: .8s;
  transition: all 0.3s ease-in-out;
}

.checkbox-input:checked ~ .checkbox--standard .checkbox__icon--small {
  background-color: $casablanca;
}
