@import 'service-type';
@import 'item-options';

.popup {
  @extend
  .fixed,
  .flex,
  .align-items-center;

  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup__box {
  @extend 
  .relative,
  .radius-5,
  .background-ghost-white;
  
  z-index: 1;
  max-height: 90vh;
  overflow-y: auto;
}

.popup__mask {
  @extend
  .absolute,
  .background-black,
  .opacity-50;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
