.popup {
  @extend
    .row,
    .fixed,
    .flex,
    .align-items-center;

  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popup__box {
  @extend
    .col-span-6,
    .col-start-4,
    .m-col-span-12,
    .m-col-start-1,
    .relative,
    .radius-5,
    .padding-30,
    .m-padding-20;
  
  z-index: 1;
  background-color: white;
  max-height: 90vh;
  overflow-y: auto;
}

.popup__mask {
  @extend
    .absolute,
    .background-black,
    .opacity-50;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}