$bgPositions: (
  bottom: bottom,
  bottom-center: bottom center,
  center: center,
  top: top,
  top-center: top center,
  right: right,
  right-bottom: right bottom,
  right-top: right top,
  right-center: right center,
  left: left,
  left-bottom: left bottom,
  left-top: left top,
  left-center: left center
);