.field {
  @extend .flex,
  .flex-col,
  .margin-bottom-30,
  .relative;
}

.field.field--buttons {
  @extend .margin-bottom-0;
}

.field.field--small {
  @extend .margin-bottom-20;
}

.field-wrapper {
  @extend .col-gap;

  @include mq(l) {
    @include _(l-col-gap);
  }
  @include mq(m) {
    @include _(m-col-gap);
  }
  @include mq(sm) {
    @include _(sm-grid-cols-6);
    @include _(sm-col-gap);
  }
  @include mq(s) {
    @include _(s-col-gap);
  }
}

.field .icon {
  @extend .flex;
}


