.modal {
  @extend
  .fixed,
  .flex,
  .align-items-center;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal .content {
  grid-template-rows: auto;
}

.modal__box {
  @extend
  .inline-flex,
  .flex-col,
  .relative,
  .radius-5,
  .background-ghost-white;
  z-index: 1;
  max-height: 90vh;
  overflow: hidden;
}

.modal__mask {
  @extend
  .absolute,
  .background-black,
  .opacity-50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__header {
  @extend .background-ghost-white,
  .border-bottom-solid,
  .border-width-1,
  .border-silver,
  .padding-40;

  @include mq(m) {
    @include _(m-padding-20);
  }
}

.modal__header .header {
  @extend .body-xlarge;

  @include mq(sm) {
    @include rem2px(font-size, 2.4);
    line-height: 1.5;
  }
}

.modal__header.modal__header--no-border {
  @extend .border-none,
  .padding-bottom-0,
  .margin-bottom-0;
}

.modal__content {
  @extend .padding-40;
  overflow-y: auto;

  @include mq(m) {
    @include _(m-padding-20);
    @include _(m-margin-bottom-20);
  }
}

.modal__content.modal__content--no-bottom {
  @extend .padding-bottom-0;
}

.modal__addition-link {
  @extend .margin-top-20,
  .color-cloud-burst,
  .body-small,
  .font-gibson-med,
  .text-underline;
}

.modal__buttons {
  @extend .padding-40,
  .background-ghost-white,
  .border-top-solid,
  .border-width-1,
  .border-silver,;

  @include mq(m) {
    @include _(m-padding-20);
    @include _(m-margin-bottom-20);
  }
}

.modal__buttons.modal__buttons--no-border {
  @extend .border-none,
  .padding-top-0;
}

.modal__buttons--qty .button {
  @extend .margin-left-auto;
}
