.modal {
  @extend
  .fixed,
  .flex,
  .align-items-center;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal .content {
  grid-template-rows: auto;
}

.modal__box {
  @extend
  .inline-flex,
  .flex-col,
  .relative,
  .radius-5,
  .background-ghost-white;
  z-index: 1;
  max-height: 90vh;
  overflow-y: auto;
}

.modal__mask {
  @extend
  .absolute,
  .background-black,
  .opacity-50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal__header {
  @extend .border-bottom-solid,
  .border-width-1,
  .border-silver,
  .padding-bottom-40,
  .margin-bottom-40;
}

.modal__header.modal__header--no-border {
  @extend .border-none,
  .padding-bottom-0;
}

.modal__addition-link {
  @extend .margin-top-20,
  .color-cloud-burst,
  .body-small,
  .font-gibson-med,
  .text-underline;
}
