input.text-input {
  @extend .border-bottom-solid,
  .border-width-1,
  .border-cloud-burst,
  .body-label,
  .padding-top-30,
  .padding-bottom-10;
  transition: border-color 0.3s ease-in-out;
}

.field--error input.text-input {
  @extend .border-carnation;
}
