.label {
  @extend .body-xsmall,
  .uppercase,
  .color-cloud-burst-6;
}

.label--float {
  @extend .absolute;
  left: 0;
  top: 0;
}

.field--error .label {
  @extend .opacity-0;
  visibility: hidden;
}