$fontStyles: (
  golden-rule: 150,
  header-one: (
    xl: (
      font-size: 7.6,
      line-height-px: 82px,
    ),
    l: (
      font-size: 6.6,
      line-height-px: 74px,
    ),
    m: (
      font-size: 4.8,
      line-height-px: 52px,
    ),
  ),
  header-two: (
    xl: (
      font-size: 6.6,
      line-height-px: 74px,
    ),
    l: (
      font-size: 4.8,
      line-height-px: 52px,
    ),
    m: (
      font-size: 3.6,
      line-height-px: 38px,
    ),
  ),
  header-three: (
    xl: (
      font-size: 4.8,
      line-height-px: 52px,
    ),
    l: (
      font-size: 3.6,
      line-height-px: 38px,
    ),
    m: (
      font-size: 3,
      line-height-px: 42px,
    ),
  ),
  body-xlarge: (
    xl: (
      font-size: 3,
      line-height-px: 42px,
    ),
    l: (
      font-size: 2.4
    ),
    m: (
      font-size: 2.2
    )
  ),
  body-large: (
    xl: (
      font-size: 1.8
    ),
  ),
  body-medium: (
    xl: (
      font-size: 1.6
    )
  ),
  body-small: (
    xl: (
      font-size: 1.4,
    )
  ),
  body-xsmall: (
    xl: (
      font-size: 1.2
    )
  ),
  label: (
    xl: (
      font-size: 2
    )
  )
);