$fontStyles: (
  golden-rule: 150,
  header-one: (
    xl: (
      font-size: 8.8,
    ),
  ),
  header-two: (
    xl: (
      font-size: 6.6
    ),
  ),
  header-three: (
    xl: (
      font-size: 4.8
    ),
  ),
  body-xlarge: (
    xl: (
      font-size: 3
    ),
  ),
  body-large: (
    xl: (
      font-size: 1.8
    ),
  ),
  body-medium: (
    xl: (
      font-size: 1.6
    )
  ),
  body-small: (
    xl: (
      font-size: 1.4,
    )
  ),
  body-xsmall: (
    xl: (
      font-size: 1.2
    )
  ),
  label: (
    xl: (
      font-size: 2
    )
  )
);