/* FLOW MIXINS ============================================================================= */

@mixin flow() {
  @each $name, $type in $flow {
    @each $size, $breakpoint in $breakpoints {
      @if $size == 'xl' {
        .flow-#{$name} {
          grid-auto-flow: $type;
        }
        @include placeholder(flow-#{$name}) {
          grid-auto-flow: $type;
        }
      } @else {
        @include mq($size) {
          .#{$size}-flow-#{$name} {
            grid-auto-flow: $type;
          }
        }
        @include placeholder(#{$size}-flow-#{$name}) {
          grid-auto-flow: $type;
        }
      }
    }
  }
}