.admin-header {
   @extend .background-off-white,
   .border-bottom-solid,
   .border-silver,
   .border-width-1,
   .col-gap;
   height: 80px;

   @include mq(l) {
     @include _(l-col-gap);
   }
   @include mq(m) {
     @include _(m-col-gap);
   }
   @include mq(sm) {
     @include _(sm-col-gap);
   }
   @include mq(s) {
     @include _(s-col-gap);
   }
 }

.admin__greeting {
  @extend .relative,
  .justify-content-end;
  pointer-events: none;

  @include mq(m) {
    @include _(m-padding-left-30);
    z-index: 4;
    cursor: pointer;
    pointer-events: all;
  }
}

.admin__greeting.admin__greeting--open {
  @include mq(m) {
    @include _(m-justify-content-start);
  }
}

.admin__name {
  @extend .body-medium;
}

.admin__greeting--open .admin__name {
  @extend .color-ecru-white;
}

.admin__trigger svg {
  width: 8px;
}

.admin__greeting--open svg {
  @extend .fill-ecru-white;
}

.admin-burger {
  @extend .absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.admin__trigger {
  @extend .justify-content-center,
  .flex-col;
  width: 20px;
  height: 11px;
}

.admin__greeting--open .admin__trigger {
  margin-left: auto;
}

.admin__burger {
  @extend .flex,
  .background-cloud-burst;
  width: 100%;
  height: 1px;
}

.admin__burger:before,
.admin__burger:after {
  content: '';
  @extend .flex,
  .background-cloud-burst;
  width: 100%;
  height: 1px;
  transition: transform 0.3s ease-in-out;
}

.admin__burger:before {
  transform: translateY(4px);
}

.admin__burger:after {
  transform: translateY(-4px);
}
.admin__greeting--open .admin__burger {
  @extend .background-ecru-white;
}

.admin__greeting--open .admin__burger:before,
.admin__greeting--open .admin__burger:after {
  @extend .background-ecru-white;
  transform: translateY(0);
}
